/* =========================================
STATAMIC.CSS
============================================

author: Gareth Redfern
version: 1.0
These are some base styles, feel free to delete them or add to them as you see fit.

SITE COLORS
===========
main color: rgb(46, 204, 113)
================================================================================== */

/* =========================================
BASE STYLES
========================================= */

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  /* See http://css-tricks.com/box-sizing */
}
html  {
  font-size: 100%;
  background-color: rgb(50, 50, 50);
}
body {
  line-height: 1.5;
  font-weight: 400;
  font-size: 0.875em;
  font-style: normal;
  color: rgb(50, 50, 50);
  background-color: rgb(244, 244, 244);
  font-family: 'Source Sans Pro', sans-serif;
}

h1 { font-size: 2.9em; line-height: 1.1; letter-spacing: 0.02em; }
h2 { font-size: 1.7em; line-height: 1.1; letter-spacing: 0.02em; }
h3 { font-size: 1.3em; line-height: 1.1; }
h4,h5,h6 { font-size: 0.875em; }

h1,h2,h3,h4,h5,h6 {
  color: rgb(50, 50, 50);
  font-weight: 600;
  font-style: normal;
  font-family: 'Source Sans Pro', sans-serif;
}
h1 { margin-top: 0; }
h2 { margin-bottom: 0.5em; }
h3,h4,h5,h6 { margin-bottom: 0.1em; }

h3 + p, h4 + p, h5 + p, h6 + p { margin-top: 0; }

h3 + ul, h4 + ul, h5 + ul, h6 + ul,
h3 + ol, h4 + ol, h5 + ol, h6 + ol { margin-top: 0; }

a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
strong, b {
  font-weight: 600;
  font-style: normal;
  font-family: sans-serif;
}
em, i {
  font-style: italic;
  font-weight: 400;
  font-family: sans-serif;
}
code { background-color: rgb(238, 238, 238); font-size: 0.875em; }
pre code { background-color: transparent; }
img { max-width: 100%; height: auto; }

blockquote {
  color: rgb(50, 50, 50);
  margin-left: 0;
  font-size: 1.3em;
  padding-left: 1em;
  border-left: 0.3em solid rgb(238, 238, 238);
}
ul,ol { padding-left: 0; }
dt { font-weight: 600; }
dd { margin-bottom: 1em; }

/* Forms */
.form {
  width: 100%;
  padding: 1em;
  background-color: rgb(255,255,255);
  border: 0.1em solid rgb(238, 238, 238);
}
.form label { cursor: pointer; }
.form input[type],
.form textarea { padding: 0.3em; }
.form input {
  padding: 0.3em;
  -webkit-appearance: none;
  -webkit-border-radius: 0; 
  border-radius: 0;
}

/* Tables */
.table {
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 1em;
  background-color: rgb(255,255,255);
  border: 0.1em solid #ddd;
}
.table  caption { font-weight: 600; }
.table thead {
  text-align: left;
  text-align: center;
  background-color: rgb(238, 238, 238);
}
.table thead th { border-color: rgb(238, 238, 238); }
.table th, .table td { padding: 0.5em; border: 0.1em solid #ddd; }
.table td { text-align: left; }

.table th[scope="row"] { font-weight: 400; }
.table th[scope="rowgroup"] { vertical-align: middle; }
.table th[scope="row"],
.table th[scope="rowgroup"] { text-align: left; }

.table tbody tr:nth-of-type(even) {
    background-color: rgb(238, 238, 238);
  }
.table tfoot {
    font-size: 75%;
    background-color: rgb(238, 238, 238);
  }
.table tfoot td { text-align: center; }

/* =========================================
LAYOUT STYLES
========================================= */

.container {
  margin: 0 auto;
  max-width: 42em;
  padding: 0 1.5em;
}
.header {
  padding: 1.5em 0;
  background-color: rgb(50, 50, 50);
  border-bottom: 0.1em solid rgb(46, 204, 113);
}
.footer {
  padding: 1.5em;
  margin-top: 1.5em;
  background-color: rgb(50, 50, 50);
  border-top: 0.1em solid rgb(46, 204, 113);
}

/* =========================================
MODULE STYLES
========================================= */

/* Helpers ============================== */

.lead { font-size: 1.3em; }
.text-left {text-align: left; }
.text-center { text-align: center;}
.text-right { text-align: right; }
.list-unstyled { padding-left: 0; list-style: none; }
.pull-right { float: right !important; }
.pull-left { float: left !important; }
.thumbnail {
  display: block;
  padding: 0.3em;
  border-radius: 0.3em;
  border: 0.1em solid rgb(238, 238, 238);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* Clearfix */
.cf:before,
.cf:after { content: ""; display: table; }
.cf:after { clear: both; }

/* ============================== End Helpers */

.nav {
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0);
}
.nav__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.nav__listItem {
  border-bottom: 0.2em solid rgb(50, 50, 50);
}
.nav a {
  display: block;
  padding: 0.5em;
}
.arrow {
  font-size: 0.875em;
  text-transform: none;
}
.nav .nav__button {
  padding: 0.5em;
  display: block;
  text-align: right;
}
.nav .nav__button:hover,
.nav .nav__button:active,
.nav .nav__button:focus { background-color: transparent; }

.header, .footer { color: rgb(255,255,255); }
.header a, .footer a { text-decoration: none; }
.logo,
.strap-line {
  margin: 0;
  font-weight: 300;
  text-align: center;
}
.logo { font-size: 1.7em; }
.strap-line {
  font-size: 1.2em;
  color: rgb(153, 153, 153);
}
.footer small { display: block; text-align: center; }
.pagination { text-align: center; }
.lead a,
.main-content a { text-decoration: underline; }

.media-body .article__author { margin-top: 0; }
.article__author { margin-bottom: 0; }
.articleList { padding-left: 0; list-style: none; }
.articleList__item {
  padding: 1em;
  margin-bottom: 3em;
  border-radius: 0.3em;
  background-color: rgb(255, 255, 255);
  border: 0.1em solid rgb(238, 238, 238);
}
.article__heading { margin-bottom: 0; }
.article__date { margin-top: 0; color: rgb(153, 153, 153); }
.article-single .article__img {
  padding: 0.5em;
  border-radius: 0.3em;
  background-color: rgb(255, 255, 255);
  border: 0.1em solid rgb(238, 238, 238);
}

/* MEDIA OBJECT
===========================================================
Used for laying out thumbnails and other common patterns */

/* Clear the floats */
.media,
.media-body { overflow: hidden; zoom: 1; }

/* Proper spacing between instances of .media */
.media,
.media .media { margin-top: 1em; }
.media:first-child { margin-top: 0; }

/* For images and videos, set to block */
.media-object { display: block; }

/* Reset margins on headings for tighter default spacing */
.media-heading { margin: 0 0 0.2em; }

/* Media image alignment */
.media > .pull-left { margin-right: 0.8em; }
.media > .pull-right { margin-left: 0.8em; }

/* =========================================
STATE STYLES
========================================= */

a, a:visited { color: rgb(50, 50, 50); }
a:hover, a:active, a:focus { color: rgb(46, 204, 113); }

.header a, .header a:visited { color: rgb(255,255,255); }
.header a:hover, .header a:active, .header a:focus {
  color: rgb(46, 204, 113);
}
.footer a, .footer a:visited { color: rgb(255,255,255); }
.footer a:hover, .footer a:active, .footer a:focus {
  color: rgb(46, 204, 113);
}

.nav a, .nav a:visited { color: rgb(255, 255, 255); }
.nav a:hover, .nav a:active, .nav a:focus {
  color: rgb(46, 204, 113);
  background-color: rgb(29, 29, 29);
}
.nav a.current { color: rgb(46, 204, 113); }
.js .nav__list { display: none; } /* hide nav on small screens */
.arrow-up { display: none; }

a.thumbnail:hover,
a.thumbnail:active,
a.thumbnail:focus { border-color: rgb(186, 186, 186); }

/* MUMMY BEAR - MEDIUM SIZE SCREENS
============================================================== */
@media screen and (min-width: 33em) {

  body { font-size: 1em; }
  .logo { font-size: 2.2em; }
  .strap-line { font-size: 1.5em; }
  .header { padding: 3em 0; }

}

/* DADDY BEAR - LARGE SCREENS
============================================================== */
@media screen and (min-width: 62em) {

  .nav ul { text-align: center; }
  .nav li {
    margin-right: 1em;
    display: inline-block;
    border-color: transparent;
  }
  .nav li:last-child { margin-right: 0; }
  .nav .nav__button { display: none; }
  .js .nav__list { display: block; } /* show nav on medium+ screens */
  .nav a:hover, .nav a:active, .nav a:focus {
    color: rgb(46, 204, 113);
    background-color: transparent;
  }

}

/* IE STYLES
======================================================================
- Until IE8 disappears this is where you can put your IE styles.
- Usually the code from within media queries on a mobile first design.
====================================================================== */

.lt-ie9 body { font-size: 1em; }

.lt-ie9 .nav ul { text-align: center; }
.lt-ie9 .nav li {
  margin-right: 1em;
  display: inline-block;
  border-color: transparent;
}
.lt-ie9 .nav li:last-child { margin-right: 0; }
.lt-ie9 .nav .nav__button { display: none; }
.js.lt-ie9 .nav__list { display: block; } /* show nav on medium+ screens */
.lt-ie9 .nav a:hover,
.lt-ie9 .nav a:active,
.lt-ie9 .nav a:focus {
  color: rgb(46, 204, 113);
  background-color: transparent;
}

